<header>
    <script src="/scripts/menu.js" defer></script>
    <!-- HAMBURGER (mobile only) -->
    <button id="hamburger" aria-label="Menu" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <span class="app-title">House Builder</span>

    <nav id="main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/housebuilder">Builder</a></li>
            <li><a href="/showcase/render">Showcase</a></li>

            <li class="has-sub">

                <!-- DESKTOP LINK -->
                <a href="#" class="about-link">About</a>

                <!-- MOBILE TOGGLE BUTTON -->
                <button class="sub-toggle">About ▸</button>
                <!-- SUBMENU -->
                <ul class="sub-menu">
                    <li><a href="/api-docs">Swagger</a></li>
                    <li><a href="/docs/index.html">Doco</a></li>
                </ul>
            </li>
        </ul>
    </nav>



    <button id="legend-btn" title="Legend">
        <i class="fa-solid fa-circle-info"></i>
        <aside id="legend-popup">
            <h2>Legend</h2>
            <p>
            <div><i class="fa-jelly-fill fa-regular fa-rectangle-history" title="stories"></i> Stories</div>
            </p>
            <p>
            <div><i class="fa-jelly fa-regular fa-people-roof" title="rooms"></i> Rooms</div>
            </p>
            <p>
            <div><i class="fa-jelly-fill fa-regular fa-bath" title="Bathrooms"></i> Bathrooms</div>
            </p>
            <p>
            <div><i class="fa-jelly-fill fa-regular fa-garage" title="Garages"></i> Garages</div>
            </p>
            <p>
            <div><i class="fa-jelly-fill fa-regular fa-arrows-maximize" title="Floor Area"></i> Floor Area (sqm)</div>
            </p>
        </aside>
    </button>

    <button id="themeToggle"><i class="fa-solid fa-moon"></i></button>

</header>