    <header>
        <logo>
            <a href="#"><img src="/images/yoda.gif" alt="Logo"></a>
        </logo>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api-docs">Swagger</a></li>
                <li><a href="https://petersem.github.io/housebuilder/">Doco</a></li>
                <li><a href="/showcase/list">Showcase</a></li>
                <!-- <li><a href="/err">ErrorTest</a></li> -->
            </ul>
        </nav>
        <ver>Version: <%= ver %></ver>
    </header>