    <header>
        <logo>
            <a href="#"><img src="/images/yoda.gif" alt="Logo"></a>
        </logo>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/house/list">Houses</a></li>
                <li><a href="/house/showcase">Showcase</a></li>
                <li><a href="/err">ERROR</a></li>

            </ul>
        </nav>
    </header>